
@font-face {
  font-family: 'Bebas Neue';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    


}





body{

     background-color: #FAF4DE;
   
}


.headblock{
	
    font-family: "Bebas Neue";
    font-weight: bold;
    color: #606E8D;
    width:100%;

   


}

.external{

    background: url(../img/icon-external.png) no-repeat 100% 50%;
    padding-right: 12px;
    
}


.typed-cursor{
    opacity: 1;
    font-size: 3em;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


#about{


    font-family: "Montserrat", sans-serif;
    font-size: 8em;
    width: 100%;
    color:#606E8D;


}

.fade{

    opacity:0;

    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay:12s;
    -moz-animation-delay:12s;
    animation-delay:12s;

}





.element{

	font-size: 3em;
  
}


